Repository CalamandreiLorenzo/simple-laravel-docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Base, Build CI, Build Dev

.gitlab-ci.yml:

image: docker:stable

services:
  - docker:dind

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_DRIVER: overlay2

  BASE_IMAGE: $CI_REGISTRY_IMAGE/base
  CI_IMAGE: $CI_REGISTRY_IMAGE/ci
  DEV_IMAGE: $CI_REGISTRY_IMAGE/dev

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

stages:
  - base

Build Base:
  stage: base
  script:
    - docker pull $BASE_IMAGE:latest || true
    - docker build --tag $BASE_IMAGE:latest -f ./Dockerfile . --cache-from $BASE_IMAGE:latest
    - docker push $BASE_IMAGE:latest
  only:
    refs:
      - merge_requests
      - master
    changes:
      - Dockerfile-base

Build CI:
  stage: ci
  script:
    - docker pull $CI_IMAGE:latest || true
    - docker build --tag $CI_IMAGE:latest -f ./Dockerfile-ci . --cache-from $CI_IMAGE:latest --build-arg BASE_IMAGE=$BASE_IMAGE:latest
    - docker push $CI_IMAGE:latest
  only:
    refs:
      - merge_requests
      - master
    changes:
      - Dockerfile-ci

Build Dev:
  stage: dev
  script:
    - docker pull $DEV_IMAGE:latest || true
    - docker build --tag $DEV_IMAGE:latest -f ./Dockerfile-dev . --cache-from $DEV_IMAGE:latest --build-arg BASE_IMAGE=$CI_IMAGE:latest
    - docker push $DEV_IMAGE:latest
  only:
    refs:
      - merge_requests
      - master
    changes:
      - Dockerfile-dev

Solves git pipe missing stages
  .gitlab-ci.yml
Due: none

Update Dockerfile usage for base pipe
  .gitlab-ci.yml
Due: none

Update ci Dockerfile to install composer deps
  Dockerfile-ci
Due: Build CI

Implement container scanning
  .gitlab-ci.yml
Due: none

Implement test stage
  .gitlab-ci.yml
Due: none

Try to update docker settings to execute the container scanner
  .gitlab-ci.yml
Due: none

Update container scanner settings
  .gitlab-ci.yml
Due: none

Set Klar trace
  .gitlab-ci.yml
Due: none

Update image for scanner
  .gitlab-ci.yml
Due: none

Remove docker container scanner
  .gitlab-ci.yml
Due: none

Update php container version to 7.4.2
  CHANGELOG.md
  Dockerfile-base
  Dockerfile-ci
  Dockerfile-dev
Due: Build Base, Build CI, Build Dev

Implement libzip-dev
  Dockerfile-base
Due: Build Base

Implement libonig-dev
  Dockerfile-base
Due: Build Base

Move laravel install in dev image
  CHANGELOG.md
  Dockerfile-base
  Dockerfile-ci
  Dockerfile-dev
Due: Build Base, Build CI, Build Dev

Restore user home directory to allow composer global install for local user
  Dockerfile-base
Due: Build Base

1.5 restore home directory
  CHANGELOG.md
  Dockerfile-ci
  Dockerfile-dev
Due: Build CI, Build Dev

1.5 restore home directory 2
  Dockerfile-base
Due: Build Base

1.5 restore home directory 2
  CHANGELOG.md
  Dockerfile-ci
  Dockerfile-dev
Due: Build CI, Build Dev

Implement xdebug in CI and Dev
  CHANGELOG.md
  Dockerfile-ci
  Dockerfile-dev
Due: Build CI, Build Dev
